.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  color: #02b875;
  /* border: #02b875 solid 1px; */
}

.flex-container {
  align-self: center;
  width: 60vmin;
  display: flex;
  position: relative;
}

.flex-item {
  background: #fff;
  flex: 1 0 auto;
  border-radius: 50%;
  box-shadow: -10px 10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
}

.flex-item:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.timerContainer {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  margin: -7%;
  border-radius: 50%;
  color: #02b875;
  background-color: rgba(2, 184, 117, 0.08);
  box-shadow: inset 0px 0px 13px 3px rgba(2, 184, 117, 0.061),
    0px -13px 13px 3px rgba(2, 184, 117, 0.061);
}

.buttonPlayStop {
  align-self: center;
  min-width: 90%;
  padding: 1%;
}

/* ESTA PUEDE SER LA CLASE CUANDO EL BOTON ESTE ACTIVADO */
.buttonPlayStop:hover {
  transform: scale(0.95);
  border: none;
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3),
  -1px -1px 3px 1px rgba(0, 0, 0, 0.1),
  1px 1px 1px 1px #fff,
  0px 0px 3px 3px #fff,
  13px 8px 22px 1px rgb(5, 54, 36, 0.1);
}

.mainCirclesContainer {
  position: relative;
}

.mainTimerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}