.lockButton {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: xx-larger;
  border: none;
  background-color: #fff;
  box-shadow: inset 0px 0px 50px 1px rgba(0, 0, 0, 0.1),
  -1px -1px 3px 1px #fff,
  1px 1px 1px 1px rgba(0, 0, 0, 0.3),
  0px 0px 3px 3px rgba(0, 0, 0, 0.3),
  13px 8px 22px 1px rgb(5, 54, 36, 0.3);
}

/* ESTA PUEDE SER LA CLASE CUANDO EL BOTON ESTE ACTIVADO */
.lockButton:hover {
  background: #fff;
  opacity: 1;
  border: none;
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3),
  -1px -1px 3px 1px rgba(0, 0, 0, 0.3),
  1px 1px 1px 1px #fff,
  0px 0px 3px 3px #fff,
  13px 8px 22px 1px rgb(5, 54, 36, 0.1);
}