@import "./sass/globals";

// CREAR UNA FUNCION PARA EXPORTAR DEL BTN SPECIAL
.specialButton {
  border: none;
  text-decoration: none;
  box-shadow: 
  inset 0px 0px 50px 1px rgba(0, 0, 0, 0.1),
  -1px -1px 3px 1px #fff,
  1px 1px 1px 1px rgba(0, 0, 0, 0.3),
  0px 0px 3px 3px rgba(0, 0, 0, 0.3),
  13px 8px 22px 1px rgb(5, 54, 36, 0.3);
}

.specialButton:hover {
  transform: scale(0.95);
  opacity: 1;
  border: none;
  box-shadow: 
  inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3),
  -1px -1px 3px 1px rgba(0, 0, 0, 0.1),
  1px 1px 1px 1px #fff,
  0px 0px 3px 3px #fff,
  13px 8px 22px 1px rgb(5, 54, 36, 0.1);
}

// CAMBIAR LA MAYORIA DE LAS UNIDADES DE MEDIDADA A UN 1EM QUE SIGNIFICA EL TAMAÑO EN FONTZISE DEL CONTENEDOR MAS CERCANO O DE EL MISMO Y UN 1REM QUE SIGNIFICA EL FONTZISE DEL GLOBAL QUE ES UN CALCULO INTERESANTE PERO QUE GENERALMENTE ES DE 16PX, PERO EN REACT ESTA MEJOR CONFIGURADO, EN REACT MEJOR MANEJAR UN REM EN GENERAL O MEJOR IR REVISANDO LAS NECESIDADES REPERZONALIZANDO LOS ESTILOS PARA VER COMO QUEDA TODO MEJOR DE FORMA RESPONSIVE  Y ACORDATE, PROBALO A VER SI FUNCIONA CON LOS REMS, A Y TAMBIEN EL GAP PARA HACER UN ESPACIADO COMO MARGIN CREO IGUAL PROBALO, Y TAMBIEN WRAPPER PARA FLEXBOX PARA QUE PERMITA MODIFICAR EL WIDTH, Y BASICO QUE DISPLAY FLEX HACE QUE EL CONTENEDOR SOLO OCUPE EL ESPACIO DE SU CONTENIDO
