.home {
  margin: 0%;
  padding: 0% 3%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ede20a;
}

.main {
  height: 100%;
  width: 100%;
  padding: 0% 3%;
  margin: 0%;
  border: 1px solid #1637dd;
  position: relative;
}

.createCounterButton {
  margin: 0% auto;
  padding: 0% auto;
  font-size: xx-large; 
  text-decoration: none;
  position: absolute;
  right: 3%;
  bottom: 3%;
}

.modalCounterConfiguration {
  border: 1px solid #dd1616;
}